name: "Xiaoji's blog"
description: "关注永雏塔菲喵，关注永雏塔菲谢谢喵"

avatar: https://raw.githubusercontent.com/xiaoji12/xiaoji12.github.io/main/images/yctf%20liuhan.jpg
favicon: https://raw.githubusercontent.com/xiaoji12/xiaoji12.github.io/main/images/tt1i5-njcr6-001.ico

navigation:
  - name: 首页
    url: /
  - name: 分类
    url: /tags
  - name: Openlist
    url: https://hmkoabjz.ap-northeast-1.clawcloudrun.com/
  - name: 关于
    url: /about

paginate: 8


footer-text: Copyright (c) 2025 Xiaoji12

url: https://xiaoji12.github.io

permalink: /:title/
paginate_path: /page:num/

# The release of Jekyll Now
version: v1.2.0

# Jekyll 3 now only supports Kramdown for Markdown
kramdown:
  # Use GitHub flavored markdown, including triple backtick fenced code blocks
  input: GFM
  # Jekyll 3 and GitHub Pages now only support rouge for syntax highlighting
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    # Use existing pygments syntax highlighting css
    css_class: 'highlight'

# Set the Sass partials directory, as we're using @imports
sass:
  style: :expanded # You might prefer to minify using :compressed

# Use the following plug-ins
plugins:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jekyll-feed # Create an Atom feed using the official Jekyll feed gem
  - jekyll-paginate

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md

